[submodule "LCCV"]
	path = code/raspberry-pi-5/external/lccv
	url = https://github.com/kbarni/LCCV.git
[submodule "rplidar_sdk"]
	path = code/raspberry-pi-5/external/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk.git
